body {
  font-family: 'Cutive Mono', monospace;
  color: greenyellow;
  background-color: black;
}
h1 {
  font-family: 'Orbitron', sans-serif;
}

h2 {
  font-family: 'Orbitron', sans-serif;
}
h5 {
  font-style: bold;
}

.em {
  color: red;
  font-style: italic;
  font-weight: bold;
}

#quiz {
  background-color: black;
  border: 2px solid greenyellow;
  
}

.jumbotron {
  background-color: black;
  border: 2px solid greenyellow;
}

.card-body {
  background-color: black;
}

#blank{
  background-color: black;
  border: 2px solid greenyellow;
}
#fortran {
  display: none;
}
#cobol {
  display: none;
}
#lisp {
  display: none;
}
#pascal {
  display: none;
}

#basic {
  display: none;
}
#javascript {
  display: none;
}

