body {
  font-family: 'Rosario', sans-serif;
}
.em {
  color: red;
  font-style: italic;
  font-weight: bold;
}
#quiz {
  background-color:rgb(240, 255, 233);
}
.jumbotron {
  background-color: rgb(253, 233, 255);
  border: 2px solid lightgray;
}